body{
    text-align: center;
    background-image: url(back2.png);
    background-size: cover;
}
#img-chat{
    margin-top: 40px;
    margin-left: 14px;
}
#input1{
    width: 300px;
}
p{
    font-size: 18px;
}
input:focus, select:focus{
    outline: none;
  border-color:rgb(106, 193, 243);
  border-radius:3px;
  box-shadow: 0 0 10px #719ECE;
}
#bnt{
    background-color: #604bc4;
    padding: 12px 28px;
  text-align: center;
  border: none;
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
  color: aliceblue;
  margin-top: 19px;
  display: inline-block;
  cursor: pointer;
}